<% if (theme.comments.provider === 'disqus' && theme.comments.disqus_shortname) { %>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '<%- page.permalink %>';
      this.page.identifier = '<%- page.path %>';
    };
    
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://<%- theme.comments.disqus_shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } else { %>
  <div class="comments-placeholder">
    <p>评论功能尚未启用，请在主题配置中启用评论系统。</p>
  </div>
<% } %>